.header {
    height: 95vh;
    background-image: linear-gradient(to bottom , rgba($color-primary-dark, 0.5), rgba($color-primary, 0.5)), url("https://i.ibb.co/NKPy0P6/Desktop-1-min.png");
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85vh, 50% 100%, 0% 85vh);

    @include respond(phone) {
        height: 100vh;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo{
        height: 7.5rem;

        animation-name: moveInTop;
        animation-duration: 2.5s;
        animation-timing-function: ease-out;

        @include respond(tab-port) {
            height: 4.5rem;
        }
    }
    
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .heading-primary--sub {
            @include respond(tab-port) {
                font-size: 2rem;
            }
        }
    }
}

.header-reviews {
    height: 95vh;
    background-image: linear-gradient(to bottom , rgba($color-wiretap-1, 0.6), rgba($color-wiretap-2, 0.6), rgba($color-wiretap-3, 0.6)), url("https://i.ibb.co/chVhbR4/Reviews-Desktop-min.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85vh, 50% 100%, 0% 85vh);

    @include respond(tab-port) {
        height: 100vh;
        background-image: linear-gradient(to bottom , rgba($color-wiretap-1, 0.6), rgba($color-wiretap-2, 0.6), rgba($color-wiretap-3, 0.6)), url("https://i.ibb.co/ftVSZ01/edited-min.jpg");
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo{
        height: 7.5rem;

        animation-name: moveInTop;
        animation-duration: 2.5s;
        animation-timing-function: ease-out;

        @include respond(tab-port) {
            height: 4.5rem;
        }
    }
    
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .heading-primary--sub {
            @include respond(tab-port) {
                font-size: 2rem;
            }
        }
    }
}