.btn {//Applies to all btn elements now due to &
    &,
    &:link,
    &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;/*Top and bottom 15px and left and right 40px*/
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
    }
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;//Removes outline from focus.
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }//Applies to active and focus buttons

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--blue {
        background-color: $color-tertiary-dark;
        color: $color-white;

        &::after {
            background-color: $color-tertiary-dark;
        }
    }

    &--green {
        background-color: $color-dark-green;
        color: $color-white;

        &::after {
            background-color: $color-dark-green;
        }
    }

    &--yellow {
        background-color: $color-secondary-light;
        color: $color-white;

        &::after {
            background-color: $color-secondary-light;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation-name: moveInBottom;
        animation-delay: .50s;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-white;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-white;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-secondary-dark;
        color: $color-white;
        border-bottom: 1px solid $color-secondary-light;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);//Moving the button up.
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color-black, .15);
        transform: translateY(0);//Moving the button up.
    }
}