.section-review {
    background-image: linear-gradient(to right bottom, rgba($color-secondary-dark, 0.4), rgba($color-secondary-light, 0.4)), url(../img/Reviews-BG.jpg);
    background-size: cover;
    padding: 25rem 0;
    margin-top: -20vh;//Moves margin up instead of top.
    text-align: center;

    .row__bg {
        background-color: rgba($color-black, 0.4);
        padding: 1rem;
        border-radius: 20px;
        text-align: center;
    }

    .btn {
        margin-top: 8rem;

        @include respond(tab-port) {
            margin-top: 6rem;
        }
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right bottom, rgba($color-secondary-dark, 0.4), rgba($color-secondary-light, 0.4)), url(../img/Reviews-BG-Mobile.png);
        background-size: cover;
        padding: 20rem 0;
        margin-top: -10vh;
    }//Making padding between sections a little smaller for smaller screen sizes.
}

.section-podcast {
    position: relative;
    padding: 18rem 0;
    font-size: $default-font-size;
    background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, 0.7), rgba($color-tertiary-dark, 0.7)), url(../img/Podcast-BG.jpg);
    background-size: cover;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 50% 15%);
    margin-top: -13rem;

    .row {
        text-align: center;
    }

    .row__bg {
        background-color: rgba($color-black, 0.4);
        padding: 1rem;
        border-radius: 20px;
        text-align: center;
    }

    .btn {
        margin-top: 8rem;

        @include respond(tab-port) {
            margin-top: 6rem;
        }
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, 0.7), rgba($color-tertiary-dark, 0.7)), url(../img/Podcast-BG-Mobile.png);
        background-size: stretch;
        padding: 15rem 0;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
        margin-top: -5rem;
    }
}